# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
#your code
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [158]:
print(soup)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [5]:
tabla=soup.find_all('article', class_='Box-row d-flex')

In [6]:
#your code
#primero de la lista
tabla[0]('a')[2].text.strip()

'Emil Ernerfeldt'

In [7]:
#segundo de la lista
tabla[0]('a')[4].text.strip()

'egui'

In [8]:
lst = []
for i in range(len(tabla)):
    name = tabla[i]('a')[2].text.strip()
    username = tabla[i]('a')[4].text.strip()
    lst.append(name + ' ' + '(' + username + ')')
lst

['Emil Ernerfeldt (egui)',
 'Earle F. Philhower, III (arduino-pico)',
 'Nikita Sobolev (awesome-cryptography)',
 'Stephen Celis (SQLite.swift)',
 'Justin Fagnani (mixwith.js)',
 'Manu MA (qwik-conference-app)',
 'Joshua (Follow)',
 'Simon H (Follow)',
 'Marcus Olsson (obsidian-projects)',
 'Ben V. Brown (IronOS)',
 'Jonny Borges (getx)',
 'Andrew Kane (the-ultimate-guide-to-ruby-timeouts)',
 'Wangchong Zhou (xeHentai)',
 'Mislav Marohnić (will_paginate)',
 'Matthias Fey (pytorch_scatter)',
 'Elliana May (duckdb-extension-framework)',
 'Romain Beaumont (img2dataset)',
 'Hari Sekhon (DevOps-Bash-tools)',
 'osy (Follow)',
 'Adam Johnson (django-upgrade)',
 'Pedro Cuenca (alzheimer)',
 'Alex Gaynor (what-happens-when)',
 'Henrik Rydgård (ppsspp)',
 'Joshua Levy (the-art-of-command-line)',
 'Mu Li (autocut)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [9]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [10]:
#your code
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [11]:
#your code
tabla=soup.find_all('article', class_='Box-row')

In [12]:
tabla[16]('a')[1].text.strip().replace('\n', '').replace('/', '').replace('       ', '/')

'Star'

In [13]:
lst = []
for i in range(len(tabla)):
    if tabla[i]('a')[1].text.strip().replace('\n', '').replace('/', '').replace(' ', '') == 'Star':
        lst.append(tabla[i]('a')[2].text.strip().replace('\n', '').replace('/', '').replace(' ', ''))
    else:
        lst.append(tabla[i]('a')[1].text.strip().replace('\n', '').replace('/', '').replace(' ', ''))
    

lst

['bregman-ariedevops-exercises',
 'public-apispublic-apis',
 'geohottinygrad',
 'mlflowmlflow',
 'PaddlePaddlePaddleDetection',
 'googlejax',
 'iterativvNostalgiaForInfinity',
 'netbox-communitynetbox',
 'tiangolotyper',
 'streamlitstreamlit',
 'modelscopemodelscope',
 'LetusDevopsLearnPython',
 'nerfstudio-projectnerfstudio',
 'idanyaalgo-trader',
 'heartexlabslabelImg',
 'microsoftpyright',
 'sqlmapprojectsqlmap',
 'unifyaiivy',
 'cryticslither',
 'ultralyticsyolov5',
 'home-assistantcore',
 'WeAreMahsaAminiFreeInternet',
 'open-mmlabmmocr',
 'Lightning-AIlightning',
 'demistocontent']

#### Display all the image links from Walt Disney wikipedia page

In [14]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [15]:
#your code
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [16]:
tabla=soup.find_all('img')

In [17]:
tabla[2]['src']

'//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG'

In [18]:
lst = []
for i in range(len(tabla)):
    lst.append(tabla[i]['src'])
    

lst

['//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/34px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/18px-Wikisource-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/21px-Wikidata-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 '/static/images/footer/wikimedia-button.png',
 '/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [152]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [153]:
#your code
url ='https://en.wikipedia.org/wiki/Python_(mythology)'

In [154]:
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [155]:
tabla = soup.find_all('a')#[3]['href']

In [156]:
tabla[3]['href']

'/wiki/Pythia'

In [157]:
lst=[]
for i in range(len(tabla)):
    try:
        if 'wiki' in tabla[i]['href']:
            lst.append(tabla[i]['href'])
    except:
        None
        
lst[:10]

['/wiki/Pythia',
 '/wiki/Python_(disambiguation)',
 '/wiki/File:Apollo_dan_Pithon.jpg',
 '/wiki/File:Apollo_dan_Pithon.jpg',
 '/wiki/Apollo',
 '/wiki/Virgil_Solis',
 '/wiki/Ovid',
 '/wiki/Metamorphoses',
 '/wiki/Greek_mythology',
 '/wiki/Greek_language']

#### Number of Titles that have changed in the United States Code since its last release point

In [25]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [26]:
#your code
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [27]:
len(soup.find_all('div', class_='usctitlechanged'))

9

#### A Python list with the top ten FBI's Most Wanted names

In [28]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [29]:
#your code 
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [30]:
tabla = soup.find_all('h3', class_='title')

In [31]:
tabla[0]('a')[0].text

'OMAR ALEXANDER CARDENAS'

In [32]:
lst = []
for i in range(len(tabla)):
    lst.append(tabla[i]('a')[0].text)

lst

['OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [33]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [34]:
#your code
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [35]:
tabla = soup.find_all('tbody', id = 'tbody')

In [36]:
#date_time
tabla[0]('tr')[0]('td')[3]('a')[0].text.replace('\xa0', ' ').replace('   ', ' ')

'2022-11-08 16:40:58.1'

In [37]:
#latitud
tabla[0]('tr')[0]('td')[4].text.strip()

'19.45'

In [38]:
#longitud
tabla[0]('tr')[0]('td')[6].text.strip()

'155.61'

In [39]:
#region name
tabla[0]('tr')[0]('td')[11].text.strip()

'ISLAND OF HAWAII, HAWAII'

In [40]:
lst = []
for i in range(20):
    
    date_time = (tabla[0]('tr')[i]('td')[3]('a')[0].text.replace('\xa0', ' ').replace('   ', ' '))
    latitude = (tabla[0]('tr')[i]('td')[4].text.strip())
    longitude = (tabla[0]('tr')[i]('td')[6].text.strip())
    region_name = (tabla[0]('tr')[i]('td')[11].text.strip())
    
    lst.append({'date_time': date_time,
               'latitude': latitude,
               'longitude': longitude,
               'region': region_name})

lst

[{'date_time': '2022-11-08 16:40:58.1',
  'latitude': '19.45',
  'longitude': '155.61',
  'region': 'ISLAND OF HAWAII, HAWAII'},
 {'date_time': '2022-11-08 16:40:43.0',
  'latitude': '32.96',
  'longitude': '70.28',
  'region': 'VALPARAISO, CHILE'},
 {'date_time': '2022-11-08 16:35:24.8',
  'latitude': '39.60',
  'longitude': '120.40',
  'region': 'NORTHERN CALIFORNIA'},
 {'date_time': '2022-11-08 16:19:42.3',
  'latitude': '36.00',
  'longitude': '118.38',
  'region': 'CENTRAL CALIFORNIA'},
 {'date_time': '2022-11-08 16:11:35.0',
  'latitude': '29.62',
  'longitude': '80.54',
  'region': 'NEPAL-INDIA BORDER REGION'},
 {'date_time': '2022-11-08 16:04:03.7',
  'latitude': '28.61',
  'longitude': '17.88',
  'region': 'CANARY ISLANDS, SPAIN REGION'},
 {'date_time': '2022-11-08 16:00:22.0',
  'latitude': '9.49',
  'longitude': '79.59',
  'region': 'PANAMA'},
 {'date_time': '2022-11-08 15:49:16.0',
  'latitude': '18.03',
  'longitude': '66.86',
  'region': 'PUERTO RICO'},
 {'date_time': '2022-11-08 15:38:00.0',
  'latitude': '46.06',
  'longitude': '14.05',
  'region': 'SLOVENIA'},
 {'date_time': '2022-11-08 15:32:57.6',
  'latitude': '46.97',
  'longitude': '9.77',
  'region': 'SWITZERLAND'},
 {'date_time': '2022-11-08 15:27:12.0',
  'latitude': '24.10',
  'longitude': '67.30',
  'region': 'SALTA, ARGENTINA'},
 {'date_time': '2022-11-08 15:26:07.0',
  'latitude': '39.50',
  'longitude': '123.16',
  'region': 'NORTHERN CALIFORNIA'},
 {'date_time': '2022-11-08 15:23:24.2',
  'latitude': '43.62',
  'longitude': '9.01',
  'region': 'LIGURIAN SEA'},
 {'date_time': '2022-11-08 15:22:36.9',
  'latitude': '29.33',
  'longitude': '81.17',
  'region': 'NEPAL'},
 {'date_time': '2022-11-08 15:17:23.9',
  'latitude': '18.01',
  'longitude': '66.87',
  'region': 'PUERTO RICO'},
 {'date_time': '2022-11-08 15:08:26.8',
  'latitude': '19.55',
  'longitude': '156.10',
  'region': 'HAWAII REGION, HAWAII'},
 {'date_time': '2022-11-08 14:50:48.0',
  'latitude': '2.83',
  'longitude': '129.77',
  'region': 'SERAM, INDONESIA'},
 {'date_time': '2022-11-08 14:49:11.0',
  'latitude': '22.26',
  'longitude': '68.73',
  'region': 'ANTOFAGASTA, CHILE'},
 {'date_time': '2022-11-08 14:43:44.8',
  'latitude': '39.16',
  'longitude': '0.30',
  'region': 'SPAIN'},
 {'date_time': '2022-11-08 14:38:45.6',
  'latitude': '52.39',
  'longitude': '179.41',
  'region': 'ANDREANOF ISLANDS, ALEUTIAN IS.'}]

In [41]:
df = pd.DataFrame(lst)
df

                date_time latitude longitude                           region
0   2022-11-08 16:40:58.1    19.45    155.61         ISLAND OF HAWAII, HAWAII
1   2022-11-08 16:40:43.0    32.96     70.28                VALPARAISO, CHILE
2   2022-11-08 16:35:24.8    39.60    120.40              NORTHERN CALIFORNIA
3   2022-11-08 16:19:42.3    36.00    118.38               CENTRAL CALIFORNIA
4   2022-11-08 16:11:35.0    29.62     80.54        NEPAL-INDIA BORDER REGION
5   2022-11-08 16:04:03.7    28.61     17.88     CANARY ISLANDS, SPAIN REGION
6   2022-11-08 16:00:22.0     9.49     79.59                           PANAMA
7   2022-11-08 15:49:16.0    18.03     66.86                      PUERTO RICO
8   2022-11-08 15:38:00.0    46.06     14.05                         SLOVENIA
9   2022-11-08 15:32:57.6    46.97      9.77                      SWITZERLAND
10  2022-11-08 15:27:12.0    24.10     67.30                 SALTA, ARGENTINA
11  2022-11-08 15:26:07.0    39.50    123.16              NORTHERN CALIFORNIA
12  2022-11-08 15:23:24.2    43.62      9.01                     LIGURIAN SEA
13  2022-11-08 15:22:36.9    29.33     81.17                            NEPAL
14  2022-11-08 15:17:23.9    18.01     66.87                      PUERTO RICO
15  2022-11-08 15:08:26.8    19.55    156.10            HAWAII REGION, HAWAII
16  2022-11-08 14:50:48.0     2.83    129.77                 SERAM, INDONESIA
17  2022-11-08 14:49:11.0    22.26     68.73               ANTOFAGASTA, CHILE
18  2022-11-08 14:43:44.8    39.16      0.30                            SPAIN
19  2022-11-08 14:38:45.6    52.39    179.41  ANDREANOF ISLANDS, ALEUTIAN IS.

In [42]:
def limpiar(string):
    
    try:
        return string.split(' ')
    except:
        return [np.nan, np.nan]

In [43]:
lst=[]

for e in df.date_time:
    lst.append(limpiar(e))

In [44]:
df[['date', 'time']]=lst

In [45]:
df

,date_time,latitude,longitude,region,date,time
0,2022-11-08 16:40:58.1,19.45,155.61,"ISLAND OF HAWAII, HAWAII",2022-11-08,16:40:58.1
1,2022-11-08 16:40:43.0,32.96,70.28,"VALPARAISO, CHILE",2022-11-08,16:40:43.0
2,2022-11-08 16:35:24.8,39.60,120.40,NORTHERN CALIFORNIA,2022-11-08,16:35:24.8
3,2022-11-08 16:19:42.3,36.00,118.38,CENTRAL CALIFORNIA,2022-11-08,16:19:42.3
4,2022-11-08 16:11:35.0,29.62,80.54,NEPAL-INDIA BORDER REGION,2022-11-08,16:11:35.0
5,2022-11-08 16:04:03.7,28.61,17.88,"CANARY ISLANDS, SPAIN REGION",2022-11-08,16:04:03.7
6,2022-11-08 16:00:22.0,9.49,79.59,PANAMA,2022-11-08,16:00:22.0
7,2022-11-08 15:49:16.0,18.03,66.86,PUERTO RICO,2022-11-08,15:49:16.0
8,2022-11-08 15:38:00.0,46.06,14.05,SLOVENIA,2022-11-08,15:38:00.0
9,2022-11-08 15:32:57.6,46.97,9.77,SWITZERLAND,2022-11-08,15:32:57.6
10,2022-11-08 15:27:12.0,24.10,67.30,"SALTA, ARGENTINA",2022-11-08,15:27:12.0
11,2022-11-08 15:26:07.0,39.50,123.16,NORTHERN CALIFORNIA,2022-11-08,15:26:07.0
12,2022-11-08 15:23:24.2,43.62,9.01,LIGURIAN SEA,2022-11-08,15:23:24.2
13,2022-11-08 15:22:36.9,29.33,81.17,NEPAL,2022-11-08,15:22:36.9
14,2022-11-08 15:17:23.9,18.01,66.87,PUERTO RICO,2022-11-08,15:17:23.9
15,2022-11-08 15:08:26.8,19.55,156.10,"HAWAII REGION, HAWAII",2022-11-08,15:08:26.8
16,2022-11-08 14:50:48.0,2.83,129.77,"SERAM, INDONESIA",2022-11-08,14:50:48.0
17,2022-11-08 14:49:11.0,22.26,68.73,"ANTOFAGASTA, CHILE",2022-11-08,14:49:11.0
18,2022-11-08 14:43:44.8,39.16,0.30,SPAIN,2022-11-08,14:43:44.8
19,2022-11-08 14:38:45.6,52.39,179.41,"ANDREANOF ISLANDS, ALEUTIAN IS.",2022-11-08,14:38:45.6

In [46]:
import pandas as pd

In [47]:
df.drop(columns='date_time')

   latitude longitude                           region        date        time
0     19.45    155.61         ISLAND OF HAWAII, HAWAII  2022-11-08  16:40:58.1
1     32.96     70.28                VALPARAISO, CHILE  2022-11-08  16:40:43.0
2     39.60    120.40              NORTHERN CALIFORNIA  2022-11-08  16:35:24.8
3     36.00    118.38               CENTRAL CALIFORNIA  2022-11-08  16:19:42.3
4     29.62     80.54        NEPAL-INDIA BORDER REGION  2022-11-08  16:11:35.0
5     28.61     17.88     CANARY ISLANDS, SPAIN REGION  2022-11-08  16:04:03.7
6      9.49     79.59                           PANAMA  2022-11-08  16:00:22.0
7     18.03     66.86                      PUERTO RICO  2022-11-08  15:49:16.0
8     46.06     14.05                         SLOVENIA  2022-11-08  15:38:00.0
9     46.97      9.77                      SWITZERLAND  2022-11-08  15:32:57.6
10    24.10     67.30                 SALTA, ARGENTINA  2022-11-08  15:27:12.0
11    39.50    123.16              NORTHERN CALIFORNIA  2022-11-08  15:26:07.0
12    43.62      9.01                     LIGURIAN SEA  2022-11-08  15:23:24.2
13    29.33     81.17                            NEPAL  2022-11-08  15:22:36.9
14    18.01     66.87                      PUERTO RICO  2022-11-08  15:17:23.9
15    19.55    156.10            HAWAII REGION, HAWAII  2022-11-08  15:08:26.8
16     2.83    129.77                 SERAM, INDONESIA  2022-11-08  14:50:48.0
17    22.26     68.73               ANTOFAGASTA, CHILE  2022-11-08  14:49:11.0
18    39.16      0.30                            SPAIN  2022-11-08  14:43:44.8
19    52.39    179.41  ANDREANOF ISLANDS, ALEUTIAN IS.  2022-11-08  14:38:45.6

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [48]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [49]:
#your code

# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [50]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [51]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [52]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [53]:
#your code
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [54]:
tabla = soup.find_all('a', class_='link-box')

In [55]:
#language name
tabla[1].text.split()[0]

'æ\x97¥æ\x9c¬èª\x9e'

In [56]:
#number of related articles
tabla[0]('small')[0].text.replace('\xa0', '')

'6458000+ articles'

In [57]:
lst = []
for i in range(len(tabla)):
    language = tabla[i].text.split()[0]
    number = tabla[i]('small')[0].text.replace('\xa0', '')
    
    lst.append({'language_name': language,
               'number of related articles': number})
    
lst

[{'language_name': 'English',
  'number of related articles': '6458000+ articles'},
 {'language_name': 'æ\x97¥æ\x9c¬èª\x9e',
  'number of related articles': '1314000+ è¨\x98äº\x8b'},
 {'language_name': 'EspaÃ±ol',
  'number of related articles': '1755000+ artÃ\xadculos'},
 {'language_name': 'Ð',
  'number of related articles': '1798000+ Ñ\x81Ñ\x82Ð°Ñ\x82ÐµÐ¹'},
 {'language_name': 'FranÃ§ais',
  'number of related articles': '2400000+ articles'},
 {'language_name': 'Deutsch',
  'number of related articles': '2667000+ Artikel'},
 {'language_name': 'Italiano', 'number of related articles': '1742000+ voci'},
 {'language_name': 'ä¸\xadæ\x96\x87',
  'number of related articles': '1256000+ æ\x9d¡ç\x9b® / æ¢\x9dç\x9b®'},
 {'language_name': 'PortuguÃªs',
  'number of related articles': '1085000+ artigos'},
 {'language_name': 'Ø§Ù\x84Ø¹Ø±Ø¨Ù\x8aØ©',
  'number of related articles': '1159000+ Ù\x85Ù\x82Ø§Ù\x84Ø©'}]

#### A list with the different kind of datasets available in data.gov.uk

In [58]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [59]:
#your code 
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [60]:
tabla=soup.find_all('a', class_='govuk-link')

In [61]:
tabla[5].text

'Crime and justice'

In [62]:
lst = []
for i in range(4, len(tabla)):
    lst.append(tabla[i].text)
lst

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [88]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [81]:
#your code
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [82]:
tabla = soup.find_all('tbody')[0]('td')

In [83]:
#language
tabla[0].text.replace('\n', '')

'Mandarin Chinese(incl. Standard Chinese, but excl. other varieties)'

In [84]:
#number of native speakers
tabla[1].text.replace('\n', '')

'920'

In [85]:
lst1 = []
for i in range(0, 37, 4):
    lst1.append(tabla[i].text.replace('\n', ''))
    
lst2 = []
for i in range(1, 38, 4):
    lst2.append(tabla[1].text.replace('\n', ''))

lst1

['Mandarin Chinese(incl. Standard Chinese, but excl. other varieties)',
 'Spanish',
 'English',
 'Hindi(excl. Urdu)',
 'Bengali',
 'Portuguese',
 'Russian',
 'Japanese',
 'Yue Chinese(incl. Cantonese)',
 'Vietnamese']

In [87]:
lst2

['920', '920', '920', '920', '920', '920', '920', '920', '920', '920']

In [89]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [90]:
df['language']= lst1
df['number_of_native_speaker']= lst2

In [91]:
df

                                            language number_of_native_speaker
0  Mandarin Chinese(incl. Standard Chinese, but e...                      920
1                                            Spanish                      920
2                                            English                      920
3                                  Hindi(excl. Urdu)                      920
4                                            Bengali                      920
5                                         Portuguese                      920
6                                            Russian                      920
7                                           Japanese                      920
8                       Yue Chinese(incl. Cantonese)                      920
9                                         Vietnamese                      920

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [70]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [71]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [93]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [94]:
# your code
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [98]:
tabla=soup.find_all('tbody', class_ = 'lister-list')

In [136]:
#movie name (empezando en 1 saltos de 2)
tabla[0]('a')[1].text

'Cadena perpetua'

In [131]:
#initial release (empezando en 5 saltos de 7)
tabla[0]('span')[5].text.replace('(', '').replace(')','')

'2008'

In [141]:
#director name
if2 = str(tabla[0]('a')[1])

In [143]:
mk2 = if2.find('">')
mk1 = if2.find("title=") +7
sub = if2[mk1:mk2]
sub

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [146]:
lst1 = []
lst2 = []
lst3 = []
for i in range(1,501,2):
    lst1.append(tabla[0]("a")[i].text)
for i in range (5,1755,7):
    lst2.append(tabla[0]("span")[i].text.replace("(","").replace(")",""))
for i in range(1,501,2):
    if2 = str(tabla[0]("a")[i])
    mk2 = if2.find('">')
    mk1 = if2.find("title=") +7
    lst3.append(if2[mk1:mk2])

In [148]:
lst1[:10]

['Cadena perpetua',
 'El padrino',
 'El caballero oscuro',
 'El padrino (parte II)',
 '12 hombres sin piedad',
 'La lista de Schindler',
 'El señor de los anillos: El retorno del rey',
 'Pulp Fiction',
 'El señor de los anillos: La comunidad del anillo',
 'El bueno, el feo y el malo']

In [159]:
lst2[:10]

['1994',
 '1972',
 '2008',
 '1974',
 '1957',
 '1993',
 '2003',
 '1994',
 '2001',
 '1966']

In [160]:
lst3[:10]

['Frank Darabont (dir.), Tim Robbins, Morgan Freeman',
 'Francis Ford Coppola (dir.), Marlon Brando, Al Pacino',
 'Christopher Nolan (dir.), Christian Bale, Heath Ledger',
 'Francis Ford Coppola (dir.), Al Pacino, Robert De Niro',
 'Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb',
 'Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes',
 'Peter Jackson (dir.), Elijah Wood, Viggo Mortensen',
 'Quentin Tarantino (dir.), John Travolta, Uma Thurman',
 'Peter Jackson (dir.), Elijah Wood, Ian McKellen',
 'Sergio Leone (dir.), Clint Eastwood, Eli Wallach']

In [161]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [162]:
df['movie_name']= lst1
df['initial_release']=lst2
df['director_name_stars']=lst3

In [164]:
df.head()

,movie_name,initial_release,director_name_stars
0,Cadena perpetua,1994,"Frank Darabont (dir.), Tim Robbins, Morgan Fre..."
1,El padrino,1972,"Francis Ford Coppola (dir.), Marlon Brando, Al..."
2,El caballero oscuro,2008,"Christopher Nolan (dir.), Christian Bale, Heat..."
3,El padrino (parte II),1974,"Francis Ford Coppola (dir.), Al Pacino, Robert..."
4,12 hombres sin piedad,1957,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb"

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [74]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [75]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [76]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:d

In [77]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [169]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [170]:
#your code
# usamos requests para extraer el html en string

html=req.get(url).text

# parsear

soup=bs(html, 'html.parser')

In [172]:
tabla = soup.find_all('li', class_ = 'col-xs-6 col-sm-4 col-md-3 col-lg-3')

In [193]:
#name
if2 = str(tabla[0]('a')[1])

In [192]:
mk2 = if2.find('">')
mk1 = if2.find("title=") +7
sub = if2[mk1:mk2]
sub

'Tipping the Velvet'

In [190]:
#price
tabla[0]('p')[1].text.replace('Â', '')

'£51.77'

In [198]:
#stock
tabla[0]('p')[2].text.strip()

'In stock'

In [202]:
lst1 = []
lst2 = []
lst3 = []
for i in range(len(tabla)):
    if2 = str(tabla[i]('a')[1])
    mk2 = if2.find('">')
    mk1 = if2.find("title=") +7
    lst1.append(if2[mk1:mk2])
for i in range(len(tabla)):
    lst2.append(tabla[i]('p')[1].text.replace('Â', ''))
for i in range(len(tabla)):
    lst3.append(tabla[i]('p')[2].text.strip())

In [204]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [205]:
df['book_name']= lst1
df['price']=lst2
df['stock_availability']=lst3

In [206]:
df

,book_name,price,stock_availability
0,A Light in the Attic,£51.77,In stock
1,Tipping the Velvet,£53.74,In stock
2,Soumission,£50.10,In stock
3,Sharp Objects,£47.82,In stock
4,Sapiens: A Brief History of Humankind,£54.23,In stock
5,The Requiem Red,£22.65,In stock
6,The Dirty Little Secrets of Getting Your Dream...,£33.34,In stock
7,The Coming Woman: A Novel Based on the Life of...,£17.93,In stock
8,The Boys in the Boat: Nine Americans and Their...,£22.60,In stock
9,The Black Maria,£52.15,In stock
10,"Starving Hearts (Triangular Trade Trilogy, #1)",£13.99,In stock
11,Shakespeare's Sonnets,£20.66,In stock
12,Set Me Free,£17.46,In stock
13,Scott Pilgrim's Precious Little Life (Scott Pi...,£52.29,In stock
14,Rip it Up and Start Again,£35.02,In stock
15,Our Band Could Be Your Life: Scenes from the A...,£57.25,In stock
16,Olio,£23.88,In stock
17,Mesaerion: The Best Science Fiction Stories 18...,£37.59,In stock
18,Libertarianism for Beginners,£51.33,In stock
19,It's Only the Himalayas,£45.17,In stock